In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

In [21]:
!pip install nba_api

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: nba_api in ./.local/lib/python3.10/site-packages (1.5.0)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in ./.local/lib/python3.10/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from nba_api) (1.26.4)
Requirement already satisfied: requests<3.0,>=2.31 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from requests<3.0,>=2.31->nba_api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages (from requests<3.0,>=2.31->nba_api) (2.0.7)

In [22]:
def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [23]:
nba_teams = teams.get_teams()

In [24]:
nba_teams[0:3]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [25]:
dict_nba_team=one_dict(nba_teams)
df_teams=pd.DataFrame(dict_nba_team)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [26]:
df_warriors=df_teams[df_teams['nickname']=='Warriors']
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [27]:
id_warriors=df_warriors[['id']].values[0][0]

In [30]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)
gamefinder.get_json()
games = gamefinder.get_data_frames()[0]
games.head()

ModuleNotFoundError: No module named 'nba_api'

### еще пример

In [17]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [8]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [20]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]# Replace the column headers with column numbers
print(df)

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [21]:
df.columns = range(df.shape[1])
print(df)

                 0         1          2          3          4          5  \
0            World         —  105568776       2023  100562011       2022
1    United States  Americas   26854599       2023   25462700       2022
2            China      Asia   19373586  [n 1]2023   17963171  [n 3]2022
3            Japan      Asia    4409738       2023    4231141       2022
4          Germany    Europe    4308854       2023    4072192       2022
..             ...       ...        ...        ...        ...        ...
209       Anguilla  Americas          —          —          —          —
210       Kiribati   Oceania        248       2023        223       2022
211          Nauru   Oceania        151       2023        151       2022
212     Montserrat  Americas          —          —          —          —
213         Tuvalu   Oceania         65       2023         60       2022

            6          7
0    96698005       2021
1    23315081       2021
2    17734131  [n 1]2021
3     4940878       2021
4     4259935       2021
..        ...        ...
209       303       2021
210       227       2021
211       155       2021
212        72       2021
213        60       2021

[214 rows x 8 columns]

In [22]:
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]
print(df)

                 0          2
0            World  105568776
1    United States   26854599
2            China   19373586
3            Japan    4409738
4          Germany    4308854
..             ...        ...
209       Anguilla          —
210       Kiribati        248
211          Nauru        151
212     Montserrat          —
213         Tuvalu         65

[214 rows x 2 columns]

In [23]:
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]
print(df)

                 0         2
1    United States  26854599
2            China  19373586
3            Japan   4409738
4          Germany   4308854
5            India   3736882
6   United Kingdom   3158938
7           France   2923489
8            Italy   2169745
9           Canada   2089672
10          Brazil   2081235

In [24]:
# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
print(df)

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [25]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)
df

           Country  GDP (Million USD)
1    United States           26854599
2            China           19373586
3            Japan            4409738
4          Germany            4308854
5            India            3736882
6   United Kingdom            3158938
7           France            2923489
8            Italy            2169745
9           Canada            2089672
10          Brazil            2081235

In [26]:
# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000
df

           Country  GDP (Million USD)
1    United States          26854.599
2            China          19373.586
3            Japan           4409.738
4          Germany           4308.854
5            India           3736.882
6   United Kingdom           3158.938
7           France           2923.489
8            Italy           2169.745
9           Canada           2089.672
10          Brazil           2081.235

In [27]:
# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)
df

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [28]:
# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [29]:
df.to_csv('Largest_economies.csv')

### еще пример

In [16]:
import requests
from bs4 import BeautifulSoup

# Specify the URL of the webpage you want to scrape
url = 'https://en.wikipedia.org/wiki/IBM'

# Send an HTTP GET request to the webpage
response = requests.get(url)

# Store the HTML content in a variable
html_content = response.text

# Create a BeautifulSoup object to parse the HTML
soup = BeautifulSoup(html_content, 'html.parser')

# Display a snippet of the HTML content
print(html_content[:500])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-enabled vector-feature-appearance-pinned-clien

### Python запрос

In [10]:
import requests

In [11]:
import os 
from PIL import Image
from IPython.display import IFrame

In [49]:
url='https://en.wikipedia.org/wiki/IBM'

In [50]:
r = requests.get(url)

In [51]:
r.status_code

200

In [52]:
print(r.request.headers)

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [53]:
print("request body:", r.request.body)

request body: None

In [54]:
header=r.headers
print(r.headers)

{'date': 'Sun, 11 Aug 2024 04:04:16 GMT', 'server': 'mw-web.eqiad.main-698f8ff66d-zhlpg', 'x-content-type-options': 'nosniff', 'content-language': 'en', 'origin-trial': 'AonOP4SwCrqpb0nhZbg554z9iJimP3DxUDB8V4yu9fyyepauGKD0NXqTknWi4gnuDfMG6hNb7TDUDTsl0mDw9gIAAABmeyJvcmlnaW4iOiJodHRwczovL3dpa2lwZWRpYS5vcmc6NDQzIiwiZmVhdHVyZSI6IlRvcExldmVsVHBjZCIsImV4cGlyeSI6MTczNTM0Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9', 'accept-ch': '', 'vary': 'Accept-Encoding,Cookie,Authorization', 'last-modified': 'Sun, 11 Aug 2024 03:59:40 GMT', 'content-type': 'text/html; charset=UTF-8', 'content-encoding': 'gzip', 'age': '38805', 'x-cache': 'cp1100 miss, cp1100 hit/16', 'x-cache-status': 'hit-front', 'server-timing': 'cache;desc="hit-front", host;desc="cp1100"', 'strict-transport-security': 'max-age=106384710; includeSubDomains; preload', 'report-to': '{ "group": "wm_nel", "max_age": 604800, "endpoints": [{ "url": "https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0" }] }', 'nel': '{ "report_to": "wm_nel", "max_age": 604800, "failure_fraction": 0.05, "success_fraction": 0.0}', 'set-cookie': 'WMF-Last-Access=11-Aug-2024;Path=/;HttpOnly;secure;Expires=Thu, 12 Sep 2024 12:00:00 GMT, WMF-Last-Access-Global=11-Aug-2024;Path=/;Domain=.wikipedia.org;HttpOnly;secure;Expires=Thu, 12 Sep 2024 12:00:00 GMT, WMF-DP=13b;Path=/;HttpOnly;secure;Expires=Mon, 12 Aug 2024 00:00:00 GMT, GeoIP=US:VA:Ashburn:39.05:-77.49:v4; Path=/; secure; Domain=.wikipedia.org, NetworkProbeLimit=0.001;Path=/;Secure;SameSite=Lax;Max-Age=3600', 'x-client-ip': '54.81.222.173', 'cache-control': 'private, s-maxage=0, max-age=0, must-revalidate', 'accept-ranges': 'bytes', 'content-length': '111220'}

In [55]:
header['date']

'Sun, 11 Aug 2024 04:04:16 GMT'

In [56]:
header['Content-Type']

'text/html; charset=UTF-8'

In [57]:
 r.encoding

'UTF-8'

In [58]:
r.text[0:100]

'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-la'

### еще пример

In [60]:
url_get='http://httpbin.org/get'

In [61]:
payload={"name":"Joseph","ID":"123"}

In [62]:
r=requests.get(url_get,params=payload)

In [63]:
r.url

'http://httpbin.org/get?name=Joseph&ID=123'

In [64]:
print("request body:", r.request.body)

request body: None

In [65]:
print(r.status_code)

200

In [66]:
print(r.text)

{
  "args": {
    "ID": "123",
    "name": "Joseph"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Cache-Control": "max-age=259200",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.31.0",
    "X-Amzn-Trace-Id": "Root=1-66b8d6ff-3b4933d751d28e5376772e4b"
  },
  "origin": "10.0.0.112, 54.81.222.173",
  "url": "http://httpbin.org/get?name=Joseph&ID=123"
}

In [67]:
r.headers['Content-Type']

'application/json'

In [68]:
r.json()

{'args': {'ID': '123', 'name': 'Joseph'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate, br',
  'Cache-Control': 'max-age=259200',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.31.0',
  'X-Amzn-Trace-Id': 'Root=1-66b8d6ff-3b4933d751d28e5376772e4b'},
 'origin': '10.0.0.112, 54.81.222.173',
 'url': 'http://httpbin.org/get?name=Joseph&ID=123'}

In [69]:
r.json()['args']

{'ID': '123', 'name': 'Joseph'}

### запросы на публикацию

In [74]:
url_post='http://httpbin.org/post'

In [75]:
r_post=requests.post(url_post,data=payload)

In [76]:
print("POST request URL:",r_post.url )
print("GET request URL:",r.url)

POST request URL: http://httpbin.org/post
GET request URL: http://httpbin.org/get?name=Joseph&ID=123

In [77]:
print("POST request body:",r_post.request.body)
print("GET request body:",r.request.body)

POST request body: name=Joseph&ID=123
GET request body: None

In [78]:
r_post.json()['form']

{'ID': '123', 'name': 'Joseph'}

### пример

In [5]:
!pip install randomuser

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: randomuser in ./.local/lib/python3.9/site-packages (1.6)

In [6]:
from randomuser import RandomUser
import pandas as pd

In [7]:
r = RandomUser()
some_list = r.generate_users(10)
some_list

[<randomuser.RandomUser at 0x7f597cfd7130>,
 <randomuser.RandomUser at 0x7f597cfc0d30>,
 <randomuser.RandomUser at 0x7f597cfc0880>,
 <randomuser.RandomUser at 0x7f59450dd850>,
 <randomuser.RandomUser at 0x7f59450dd940>,
 <randomuser.RandomUser at 0x7f59450dd0d0>,
 <randomuser.RandomUser at 0x7f59450dd610>,
 <randomuser.RandomUser at 0x7f59450dd8b0>,
 <randomuser.RandomUser at 0x7f59450dd2e0>,
 <randomuser.RandomUser at 0x7f59450dd640>]

In [8]:
name = r.get_full_name()

In [10]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Marie Picard   marie.picard@example.com
Hüseyin Richard   huseyin.richard@example.com
Mirella Gautier   mirella.gautier@example.com
Valerie Gruhn   valerie.gruhn@example.com
Riëtte Glas   riette.glas@example.com
Ava Chu   ava.chu@example.com
Angel Wade   angel.wade@example.com
Adem Sadıklar   adem.sadiklar@example.com
Océane Garcia   oceane.garcia@example.com
Emmie Dufour   emmie.dufour@example.com

In [11]:
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/women/89.jpg
https://randomuser.me/api/portraits/men/4.jpg
https://randomuser.me/api/portraits/women/49.jpg
https://randomuser.me/api/portraits/women/95.jpg
https://randomuser.me/api/portraits/women/35.jpg
https://randomuser.me/api/portraits/women/66.jpg
https://randomuser.me/api/portraits/men/81.jpg
https://randomuser.me/api/portraits/men/9.jpg
https://randomuser.me/api/portraits/women/85.jpg
https://randomuser.me/api/portraits/women/6.jpg

In [12]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [13]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Cora Van Alem,female,Dearsum,Utrecht,cora.vanalem@example.com,1969-09-29T00:47:57.042Z,https://randomuser.me/api/portraits/women/51.jpg
1,Olivia Poulsen,female,Stokkemarke,Danmark,olivia.poulsen@example.com,1965-07-03T14:00:16.463Z,https://randomuser.me/api/portraits/women/71.jpg
2,Everett Jackson,male,Spokane,Minnesota,everett.jackson@example.com,1948-02-18T01:00:07.691Z,https://randomuser.me/api/portraits/men/96.jpg
3,Isla Hall,female,Nelson,Marlborough,isla.hall@example.com,1972-08-14T16:27:19.829Z,https://randomuser.me/api/portraits/women/21.jpg
4,Jacqueline Robin,female,Rümlang,Appenzell Innerrhoden,jacqueline.robin@example.com,1945-06-18T21:25:38.864Z,https://randomuser.me/api/portraits/women/60.jpg
5,Dylan Haji,male,Ulsteinvik,Oppland,dylan.haji@example.com,1985-06-30T14:04:59.040Z,https://randomuser.me/api/portraits/men/99.jpg
6,Hanna Mccoy,female,Balbriggan,Cork,hanna.mccoy@example.com,1968-07-30T03:26:52.765Z,https://randomuser.me/api/portraits/women/34.jpg
7,Kylie Soto,female,Louisville,Ohio,kylie.soto@example.com,1959-01-07T07:20:45.199Z,https://randomuser.me/api/portraits/women/58.jpg
8,Youssef De Gunst,male,Koarnjum,Zuid-Holland,youssef.degunst@example.com,1984-04-07T05:51:06.565Z,https://randomuser.me/api/portraits/men/54.jpg
9,Mina Bjerkan,female,Lørenfallet,Møre og Romsdal,mina.bjerkan@example.com,1990-06-14T14:43:07.151Z,https://randomuser.me/api/portraits/women/54.jpg

### еще пример

In [20]:
import requests
import json

In [24]:
data = requests.get("https://official-joke-api.appspot.com/jokes/ten")

In [25]:
results = json.loads(data.text)

In [26]:
pd.DataFrame(results)

,type,setup,punchline,id
0,general,What kind of music do welders like?,Heavy metal.,374
1,programming,What’s the object-oriented way to become wealthy?,Inheritance.,371
2,general,Never take advice from electrons.,They are always negative.,75
3,general,What is red and smells like blue paint?,Red paint!,243
4,general,Why did the belt go to prison?,He held up a pair of pants!,316
5,general,Why do you never see elephants hiding in trees?,Because they're so good at it.,355
6,general,Why do bananas have to put on sunscreen before...,Because they might peel!,340
7,programming,Why did the programmer quit his job?,Because he didn't get arrays.,18
8,general,Did you hear the joke about the wandering nun?,She was a roman catholic.,98
9,general,Why did the girl smear peanut butter on the road?,To go with the traffic jam.,324

In [27]:
df2 = pd.json_normalize(results)